body{
	background: #000;
}
#difficulty{
	display: block !important;
}
span#speed {
    position: absolute;
    top: -70px;
    left: -630px;
    width: 50px !important;
    height: 500px;
    border: 2px solid #0000AA;
}
div#pst_rlt_cs {
    position: relative;
    display: inline-block;
}
span#speed span.bottom {}

span#speed span.button {
    display: block;
    font-size: 20px;
    margin: 17px 0;
    color: #89572F !important;
    font-weight: bolder;
    padding: 0;
    margin-top: -7px;
}

span#speed span.button.on {
    color: #fff;
    font-size: 40px !important;
    padding: 0;
}
span#pit {}

div#difficulty {
    position: absolute;
    top: 22%;
    right: -22%;
    border: 2px solid #0000AA;
    width: 150px;
    height: 430px;
}

div#difficulty span {
    display: inline-block;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 500;
    width: 130px;
}
div#difficulty span.button {
	color: #c0392b;
}
div#difficulty span.button.on {
    color: #c0392b;
    font-size: 20px;
}
span#pieces {
    border: 2px solid #0000AA;
    box-sizing: border-box;
    margin-left: 3px;
    margin-top: 3px;
}

span#pit {
    border: 2px solid #0000AA;
    margin-top: 0px;
}

span#rotSpeed {
    border: 2px solid #0000AA;
    margin-top: 3px;
}
span#sped_label_label {
    font-size: 15px !important;
    border-bottom: 3px solid #0000AA;
    padding-bottom: 3px;
    width: 100% !important;
}
div#score, div#cubes_played, div#high_score {
	position: absolute;
	top: 26%;
	right: -20.5%;
  font-size: 15px;
  padding: 3px 0;
	width: 130px;
	border: 2px solid #0000AA;
	color: #00AA00;
	padding-right: 2px;
  display: block !important;
  text-align: right;
  font-weight: bold;
  text-shadow: #000 0px 0px 0.3em;
}
div#cubes_played {
  top: 41%;
  right: 5%;
}
div#high_score {
  top: 64%;
  right: 5%;
}
#score_label, #cubes_played_label, #high_score_label {
	right: -22%;
	position: absolute;
	top: 23%;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 500;
  width: 156px;
	text-transform: uppercase;
  color:  #0996AE;
}
#cubes_played_label {
  top: 37%;
  right: -4%;
}
#high_score_label {
  top: 60%;
  right: -4%;
}
div#over {
    display: inline-block;
    width: 40%;
}
span.pit_label_text {
    margin-top: 168px;
    font-size: 12px;
    color:  #0996AE;
}
span.speed_label_text {
    margin-top: 55px;
    font-size: 12px;
    color: #0996AE;
    text-transform: uppercase;
}

span#keys {
    border: 2px solid #0000AA;
    margin-top: 15px;
    text-transform: uppercase;
}

span.pieces_label_text {
    margin-top: 15px;
    color:  #0996AE;
    font-size: 12px;
}
span#pit span.button {
    color: #89572F;
}

span#pieces span.button {
    color: #89572F;
    font-size: 16px;
    width: 100%;
    padding: 0;
    text-transform: uppercase;
}

span#pieces span.button.on {
    color: #89572F;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

span#pit span.button.on {
    color: #89572F;
}
span#sped_label_label {
    font-size: 10px !important;
    color: #0996AE;
    font-weight: bolder;
}
.game-logo-cs {
    position: absolute;
    top: 10%;
    right: -22%;
}

.game-logo-cs img {
    width: 166px;
}
div#getGamerName {
    width: 40%;
}
span#speed_label_details {
    width: 102% !important;
    padding: 0;
    margin: 0;
}
span#rotSpeed span.button {
    color: #00AA00;
    text-transform: uppercase;
}
span#keys span.button {
    font-size: 15px;
    padding: 3px 0;
}
div#column {
    position: absolute;
    left: -48px;
    height: 292px;
    border: 2px solid #00AA00;
    bottom: 89.9%;
    border-top: 0;
    border-bottom: 4px solid #00AA00;
    margin-bottom: -500px;
}

canvas#screen2 {
    padding: 3px;
    margin-left: -3.5px;
    height: 217px;
    width: 39.5px;
    margin-top: 70px;
}

/* sourav_malo :: High Score Button Styling */
.play-btn {
  color: #009fa0;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

a.play-btn {
  color: #009fa0;
  text-decoration: none;
}

a.play-btn:hover {
  text-decoration: underline;
}

/* sourav_malo :: Score Board Styling */
.scoreboard {
  max-width: 1200px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 50px auto 0;
  color: #fff;
}

.page-title {
  font-weight: 700;
  font-size: 36px;
  padding: 10px 0;
  text-align: center;
  text-transform: capitalize;
  word-spacing: 3px;
  font-variant: small-caps;
  margin: 10px 0 10px;
  color: white;
}

.sb-filters-form {
  margin-bottom: 32px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
}

.sb-filters .input-group {
  width: 150px;
  margin-right: 24px;
}

.sb-filters-form label {
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
}

.sb-filters select {
  width: 100%;
  padding: 6px 32px;
  border-radius: 100rem;
  background-color: #444;
  background-image: linear-gradient(to top, #444, #666);
  color: #fff;
  outline: 0;
  border: 1px solid #888;
}

.sb-submit {
  padding: 6px 32px;
  border-radius: 100rem;
  border: 1px solid #2d7;
  background-color: #2d7;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  background-image: linear-gradient(to bottom, #2c6, #0b0);
  height: 32px;
  width: 140px;
  outline: 0;
  cursor: pointer;
}

.sb-submit:hover {
  background-image: linear-gradient(to top, #2c6, #0b0);
}

.sb-table {
  border: 1px solid #fff;
  font-size: 14px;
}

/* .sb-col a {
  color: white;
} */

.sb-thead {
  background-color: #444444;
}

.sb-thead .sb-col {
  font-weight: 500;
}

.sb-body {
  background-color: #333333;
}

.sb-row {
  display: flex;
  align-items: center;
  padding: 10px;
}

.sb-col.rank, .sb-col.set, .sb-col.pit, .sb-col.level, .sb-col.score, .sb-col.pc_phone {
  flex-basis: 8%;
}

.sb-col.ip-address, .sb-col.player, .sb-col.country, .sb-col.played-at {
  flex-basis: 13%;
}

.first-row {
  border-top: 1px solid #fff;
}

.first-row .sb-col.rank .circle {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #F7EF29;
  color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ip-address-btn {
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
}

.first-row, .first-row .ip-address-btn {
  color: #F7EF29;
  font-weight: 500;
}

/* sourav_malo :: Ask Username Styling */

.username-input, .username-submit-btn {
  border: 1px solid white;
  border-radius: 5px;
  padding: 8px 5px;
}

.username-input.wrong {
  border-color: red;
}

.username-rule {
  display: block;
  padding: 10px 5px;
  border-radius: 5px;
  background-color: black;
  margin: 10px 0 20px;
  font-size: 14px;
  line-height: 1.25;
}

.username-submit-btn {
  background: white;
  border: none;
  outline: none;
  color: black;
  padding: 8px 20px;
  font-size: 18px;
  cursor: pointer;
}

.username-submit-btn.not-allowed {
  cursor: not-allowed;
}

.username-submit-btn:hover {
  background-color: rgb(255, 255, 255, .8);
}

.location .page-title {
  font-size: 36px;
  padding: 10px 0;
  text-align: center;
  text-transform: none;
  word-spacing: 3px;
  font-variant: none;
  margin: 60px 0 16px;
  color: white;
}

.location-information {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-details {
  width: 300px;
  margin-right: 20px;
  border: 1px solid white;
  color: white;
}

.location-details-item {
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
}

.location-details-item:nth-child(odd) {
  background-color: #292929;
}

.location-details-item + .location-details-item {
  border-top: 1px solid white;
}

.location-map {
  width: 725px;
  height: 400px;
  border: 1px solid white;
}